<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    d="M8 7l4-4m0 0l4 4m-4-4v18"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path d="M5 15l7-7 7 7" />
  </svg>
</template>

<script setup lang="ts"></script>

<style scoped></style>
