<script setup lang="ts">
import { computed } from 'vue';

import type { TIconType } from './interface';

interface IProps {
  icon: TIconType;
}
const props = defineProps<IProps>();

const isHistory = computed<boolean>(() => props.icon === 'history');
const isContact = computed<boolean>(() => props.icon === 'contact');
const isProduct = computed<boolean>(() => props.icon === 'products');
const isOverview = computed<boolean>(() => props.icon === 'overview');
</script>

<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6"
    viewBox="0 0 24 24"
    stroke-linecap="round"
    stroke-linejoin="round"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
  >
    <g v-if="isHistory">
      <rect width="24" height="24" rx="5" stroke-width="0" fill="#ffffff40" />
      <path
        d="M11.04,11.048a6.476,6.476,0,1,1,1.684-6.192H11.04a4.854,4.854,0,1,0-4.573,6.475A4.788,4.788,0,0,0,9.883,9.891L7.277,7.285h5.666v5.666Z"
        transform="translate(5.5 18.75) rotate(-90)"
        stroke-width="0.5"
        fill="currentColor"
      />
    </g>
    <g v-else-if="isContact">
      <rect width="24" height="24" rx="5" stroke-width="0" fill="#ffffff40" />
      <path
        d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
        transform="translate(1.8 6)"
        stroke="none"
        fill="currentColor"
        fill-rule="evenodd"
        clip-rule="evenodd"
      />
    </g>
    <g v-else-if="isProduct">
      <rect
        class="h-[10px] w-[10px]"
        rx="3"
        fill="#ffffff"
        transform="translate(0, 0)"
        stroke="none"
      />
      <rect
        class="h-[10px] w-[10px]"
        rx="3"
        fill="#ffffff40"
        transform="translate(0, 14)"
        stroke="none"
      />
      <rect
        class="h-[10px] w-[10px]"
        rx="3"
        fill="#ffffff40"
        transform="translate(14, 0)"
        stroke="none"
      />
      <rect
        class="h-[10px] w-[10px]"
        rx="3"
        fill="#ffffff"
        transform="translate(14, 14)"
        stroke="none"
      />
    </g>
    <g
      v-else-if="isOverview"
      transform="translate(-86.067 -10.509)"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke="currentColor"
      fill="currentColor"
      stroke-width="2"
    >
      <path
        d="M392,106v9.489l9.433,4.744v-9.489Z"
        transform="translate(-305.433 -86.774)"
      />
      <path
        d="M424,110.744,433.425,106v9.489L424,120.233Z"
        transform="translate(-324.012 -86.774)"
      />
      <path
        d="M412.552,94.95,402.276,90,392,94.95l10.276,4.95Z"
        transform="translate(-304.282 -78.991)"
      />
    </g>
  </svg>
</template>
