<template>
  <div class="mt-8 space-y-8">
    <div class="flex items-center justify-between">
      <h1 class="text-4xl">Overview</h1>
      <div class="flex items-center gap-x-3">
        <div class="h-2 w-2 rounded-full bg-green-400"></div>
        <p>Updated 5 min ago</p>
      </div>
    </div>

    <div class="grid grid-cols-1 gap-y-6 md:grid-cols-5 md:gap-x-6 lg:gap-x-12">
      <div class="col-span-2">
        <h2 class="mb-3 opacity-50">Today's balance</h2>
        <p class="mb-6 text-4xl font-semibold">
          <span class="mr-1 inline-block text-d-payment">$</span>
          <span>10,835.20</span>
        </p>
        <div class="flex items-center gap-x-4">
          <button class="rounded-lg bg-d-payment-text px-4 py-3 text-white">
            Add funds
          </button>
          <button class="rounded-lg bg-gray-200 px-4 py-3">
            Withdraw funds
          </button>
        </div>
      </div>
      <div class="col-span-3 space-y-3">
        <div
          v-for="amount of amounts"
          :key="amount.title"
          class="flex items-center gap-x-3 rounded-xl p-4 shadow-lg"
        >
          <div class="grid h-10 w-10 place-items-center rounded-lg bg-gray-100">
            <component :is="amount.icon" class="h-6 w-6"></component>
          </div>

          <div class="flex-1">
            <p class="mb-1 opacity-50">{{ amount.title }}</p>
            <p class="text-2xl font-semibold">
              <span class="mr-1 inline-block text-d-payment">$</span>
              <span>{{ amount.amount }}</span>
            </p>
          </div>

          <div class="ml-auto">
            <p class="mb-1 opacity-50">Aging</p>
            <p class="font-semibold">$ {{ amount.agingAmnt }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 gap-y-6 md:grid-cols-5 md:gap-x-6 lg:gap-x-12">
      <section class="col-span-2">
        <div class="mb-3 flex items-center justify-between">
          <h2 class="font-bold">All transactions</h2>
          <div class="flex gap-x-2">
            <div class="rounded-lg bg-gray-100 p-2">
              <ArrowUpIcon class="h-4 w-4 -rotate-90" />
            </div>
            <div class="rounded-lg bg-gray-100 p-2">
              <ArrowUpIcon class="h-4 w-4 rotate-90" />
            </div>
          </div>
        </div>

        <div
          v-for="transaction of transactions"
          :key="transaction.name"
          class="group relative flex items-center gap-x-5 py-3"
        >
          <div
            class="absolute -left-3 top-0 -z-10 h-full w-[calc(100%+2*0.72rem)] rounded-xl transition-shadow group-hover:shadow-lg"
          ></div>
          <img :src="transaction.image" alt="" class="h-12 w-12 rounded-lg" />
          <div class="flex- overflow-hidden">
            <p
              class="mb-1 w-full overflow-hidden text-ellipsis whitespace-nowrap font-semibold"
            >
              {{ transaction.name }}
            </p>
            <p
              class="overflow-hidden text-ellipsis whitespace-nowrap text-xs opacity-50"
            >
              {{ transaction.time }}
            </p>
          </div>

          <p
            class="ml-auto w-24 shrink-0 rounded-lg py-2 px-2 text-center text-xs font-semibold"
            :class="
              transaction.type === 'credit'
                ? 'bg-red-100 text-red-600'
                : 'bg-green-100 text-green-600'
            "
          >
            {{ transaction.type === 'credit' ? '-' : '' }}$
            {{ transaction.amount }}
          </p>
        </div>
      </section>

      <section class="col-span-3">
        <h2 class="mb-1 opacity-50">Notifications</h2>
        <table>
          <tbody>
            <tr v-for="(notification, i) of notifications" :key="`notif-${i}`">
              <template v-if="notification.type === 'invoice'">
                <td>
                  <div class="w-max rounded-lg bg-gray-100 p-2">
                    <BriefcaseIcon />
                  </div>
                </td>
                <td>
                  <p class="mb-1 font-semibold">
                    <template v-if="notification.data.from === 'me'">
                      You sent an invoice to
                      <span class="text-d-payment underline underline-offset-2">
                        {{ notification.data.to }}
                      </span>
                      for {{ notification.data.amount }}.
                    </template>
                    <template v-else>
                      <span class="text-d-payment underline underline-offset-2">
                        {{ notification.data.from }}
                      </span>
                      sent you an invoice for ${{ notification.data.amount }}.
                    </template>
                  </p>
                  <p class="text-xs opacity-50">{{ notification.data.time }}</p>
                </td>
              </template>
              <template v-else-if="notification.type === 'fundraising'">
                <td>
                  <div class="flex">
                    <div
                      v-for="(member, i) of notification.data.members.slice(
                        0,
                        notificationMembersThreshold + 1,
                      )"
                      :key="`member-${i}`"
                      class="h-7 w-7 shrink-0 overflow-hidden rounded-full border border-gray-300 bg-gray-100"
                      :style="`transform: translateX(-${48 * i}%)`"
                    >
                      <img
                        v-if="i < notificationMembersThreshold"
                        :src="member.avatar"
                        alt=""
                        class="h-full w-full"
                      />
                      <p
                        v-else
                        class="text-semibold grid h-full w-full place-items-center text-xs text-d-payment"
                      >
                        +{{
                          notification.data.members.length -
                          notificationMembersThreshold
                        }}
                      </p>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="mb-1 font-semibold">
                    <template v-if="notification.data.createdBy === 'me'">
                      You created a fundraising fund.
                    </template>
                    <template v-else>
                      <span class="text-d-payment underline underline-offset-2">
                        {{ notification.data.createdBy }}
                      </span>
                      created a fundraising fund.
                    </template>
                    <template v-if="notification.data.admin === 'me'">
                      You became an Admin.
                    </template>
                  </p>
                  <p class="text-xs opacity-50">
                    {{ notification.data.time }}
                  </p>
                </td>
              </template>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import {
  ArrowDownIcon,
  ArrowUpIcon,
  BriefcaseIcon,
} from '@heroicons/vue/24/outline';

interface IAmounts {
  icon: any;
  title: string;
  amount: string;
  agingAmnt: string;
}
const amounts: IAmounts[] = [
  {
    icon: ArrowDownIcon,
    title: 'Receivable (AR)',
    amount: '33,819.19',
    agingAmnt: '9,000',
  },
  {
    icon: ArrowUpIcon,
    title: 'Payable (AP)',
    amount: '15,835.20',
    agingAmnt: '8,000',
  },
];

interface ITransaction {
  name: string;
  time: string;
  amount: string;
  image: string;
  type: 'debit' | 'credit';
}
const transactions: ITransaction[] = [
  {
    name: 'Pied Piper',
    time: 'now',
    amount: '15,000',
    type: 'credit',
    image: 'https://picsum.photos/101',
  },
  {
    name: 'Hooli',
    time: '19 minutes ago',
    amount: '12,462',
    type: 'debit',
    image: 'https://picsum.photos/102',
  },
  {
    name: 'Messagely',
    time: 'yesterday',
    amount: '7,281.04',
    type: 'credit',
    image: 'https://picsum.photos/103',
  },
  {
    name: 'Netflix',
    time: 'yesterday',
    amount: '39.10',
    type: 'credit',
    image: 'https://picsum.photos/104',
  },
];

interface IInvoice {
  from: string;
  to: string;
  amount: string;
  time: string;
}

interface IFundraising {
  createdBy: string;
  time: string;
  admin: string;
  members: {
    avatar: string;
  }[];
}

interface INotification {
  type: 'invoice' | 'fundraising';
  data: IInvoice | IFundraising;
}
const notifications = computed<INotification[]>(() => {
  const invoices: IInvoice[] = [
    {
      from: 'Hooli',
      to: 'me',
      amount: '1,000',
      time: 'now',
    },
    {
      from: 'me',
      to: 'Pied Piper',
      amount: '500',
      time: '4 hours ago',
    },
  ];

  const fundraisings: IFundraising[] = [
    {
      createdBy: 'Mariam Erwin',
      time: 'yesterday',
      admin: 'me',
      members: [
        { avatar: 'https://picsum.photos/90' },
        { avatar: 'https://picsum.photos/91' },
        { avatar: 'https://picsum.photos/92' },
        { avatar: 'https://picsum.photos/93' },
        { avatar: 'https://picsum.photos/94' },
        { avatar: 'https://picsum.photos/95' },
        { avatar: 'https://picsum.photos/96' },
      ],
    },
    {
      createdBy: 'me',
      time: 'yesterday',
      admin: 'Argwin Oslo',
      members: [{ avatar: 'https://picsum.photos/91' }],
    },
  ];

  return [
    {
      type: 'invoice',
      data: invoices[0],
    },
    {
      type: 'invoice',
      data: invoices[1],
    },
    {
      type: 'fundraising',
      data: fundraisings[0],
    },
    {
      type: 'fundraising',
      data: fundraisings[1],
    },
  ];
});

const notificationMembersThreshold = 2;
</script>

<style scoped>
table td {
  padding: 0.5rem 0;
}
table td:first-child {
  max-width: 5rem;
}
</style>
