<template>
  <AppLayout>
    <div class="c-container pt-5">
      <RouterView />
    </div>
  </AppLayout>
</template>

<script setup lang="ts">
import { RouterView } from 'vue-router';

import AppLayout from '@/features/_common/AppLayout.vue';
</script>
