<template>
  <div
    class="flex cursor-pointer items-center justify-between overflow-hidden duration-[inherit]"
    :class="summaryClass"
    @click="summaryClick"
  >
    <p class="shrink-0" v-if="summary">{{ summary }}</p>
    <div class="shrink-0">
      <slot name="summary"></slot>
    </div>

    <div
      v-if="showIcon"
      class="grid h-8 w-8 place-items-center rounded-full transition-colors duration-200 hover:bg-white/20"
      :class="{ 'rotate-180': !open }"
      @click="toggle"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M5 15l7-7 7 7"
        />
      </svg>
    </div>
  </div>

  <div
    ref="body"
    class="h-max transition-all duration-[inherit]"
    :class="[...bodyClasses, open ? 'ease-in' : 'ease-out']"
  >
    <slot />
  </div>
</template>

<script setup lang="ts">
import { computed, onMounted, onUnmounted, ref } from 'vue';

interface IProps {
  modelValue?: boolean;
  summary?: string;
  summaryClass?: string;
  showIcon?: boolean;
  priorityOpen?: boolean | null;
}

const props = withDefaults(defineProps<IProps>(), {
  modelValue: false,
  summary: '',
  summaryClass: '',
  showIcon: true,
  priorityOpen: null,
});

interface IEmits {
  (e: 'update:modelValue', state: boolean): void;
  (e: 'summaryClick', evt: MouseEvent): void;
}
const emit = defineEmits<IEmits>();

const open = computed<boolean>({
  get: () =>
    props.priorityOpen !== null ? props.priorityOpen : props.modelValue,
  set: (v) => emit('update:modelValue', v),
});

const isAnimating = ref(false);
const bodyClasses = computed<string[]>(() => {
  const classes = [];

  if (open.value) classes.push('max-h-40');
  else classes.push('max-h-0');

  if (isAnimating.value) classes.push('overflow-hidden');
  else classes.push('overflow-auto');

  return classes;
});

function toggle(e: MouseEvent) {
  e.preventDefault();
  e.stopPropagation();

  open.value = !open.value;
}

function summaryClick(e: MouseEvent) {
  emit('summaryClick', e);
}

const body = ref<HTMLDivElement | null>(null);
onMounted(() => {
  const el = body.value;
  if (!el) return;

  el.addEventListener('transitionstart', bodyTransitionStart);
  el.addEventListener('transitionend', bodyTransitionEnd);
});
onUnmounted(() => {
  const el = body.value;
  if (!el) return;

  el.removeEventListener('transitionstart', bodyTransitionStart);
  el.removeEventListener('transitionend', bodyTransitionEnd);
});

function bodyTransitionStart() {
  isAnimating.value = true;
}
function bodyTransitionEnd() {
  isAnimating.value = false;
}
</script>
