<template>
  <AppLayout>
    <div class="c-container space-y-4 md:space-y-8 mt-5">
      <section>
        <div class="flex justify-between">
          <h2 class="text-xl">Designs</h2>
          <RouterLink
            v-if="designs.length > designsPreviewLimit"
            :to="{ name: 'designs' }"
          >
            <Button variant="text-icon" class="group">
              <PlusIcon
                class="group-hover:rotate-90 transition-transform duration-[inherit]"
              />
              More
            </Button>
          </RouterLink>
        </div>
        <div class="mt-1 grid gap-6 grid-cols-1 md:grid-cols-3">
          <DesignCard
            v-for="design of designs"
            :key="`design-${design.uid}`"
            :design="design"
          />
        </div>
      </section>
      
			<section>
        <div class="flex justify-between">
          <h2 class="text-xl">Widgets</h2>
          <RouterLink
            v-if="true || widgets.length > widgetsPreviewLimit"
            :to="{ name: 'widgets' }"
          >
            <Button variant="text-icon" class="group">
              <PlusIcon
                class="group-hover:rotate-90 transition-transform duration-[inherit]"
              />
              More
            </Button>
          </RouterLink>
        </div>
        <div class="mt-1 grid gap-6 grid-cols-1 md:grid-cols-3">
          <WidgetCard
            v-for="widget of widgets"
            :key="`widget-${widget.uid}`"
            :widget="widget"
          />
        </div>
      </section>
    </div>
  </AppLayout>
</template>

<script setup lang="ts">
import { RouterLink } from 'vue-router';
import { PlusIcon } from '@heroicons/vue/24/outline';

import AppLayout from '@/features/_common/AppLayout.vue';
import { DesignCard, WidgetCard } from '@/features/_common/components';

import { Button } from './components';

import { useDesginsStore } from '@designs/store';
import { useWidgetsStore } from '@widgets/store';

const designsStore = useDesginsStore();
const designsPreviewLimit = 3;
const designs = designsStore.designs.slice(0, designsPreviewLimit);

const widgetsStore = useWidgetsStore();
const widgetsPreviewLimit = 3;
const widgets = widgetsStore.widgets.slice(0, widgetsPreviewLimit);
</script>
