<script setup lang="ts">
import { ref, computed } from 'vue';
import { type RouteLocationRaw, RouterLink } from 'vue-router';

import Accordion from '@designs/common/components/Accordion.vue';

import AppIcon from '../icons/AppIcon.vue';
import type { TIconType } from '../icons/interface';

interface IProps {
  modelValue: boolean;
}

const props = defineProps<IProps>();

interface IEmits {
  (e: 'update:modelValue', state: boolean): void;
}
const emit = defineEmits<IEmits>();

const isMinimised = computed<boolean>({
  get: () => props.modelValue,
  set: (v) => emit('update:modelValue', v),
});

const user = {
  avatar: 'https://picsum.photos/200',
  dob: '24.02.1996',
  name: 'Andy',
};

interface ILink {
  name: string;
  icon: TIconType;
  to: RouteLocationRaw;
  open?: boolean;
  badge?: number;
  sublinks?: {
    name: string;
    to: RouteLocationRaw;
  }[];
}
const links = ref<ILink[]>([
  {
    name: 'Overview',
    icon: 'overview',
    to: { name: 'payment-overview' },
    open: true,
    sublinks: [
      { name: 'Notifications', to: { name: 'payment-overview-notifications' } },
      { name: 'Transactions', to: { name: 'payment-overview-transactions' } },
    ],
  },
  {
    name: 'History',
    icon: 'history',
    to: { name: 'payment-history' },
  },
  {
    name: 'Contact List',
    icon: 'contact',
    badge: 2,
    to: { name: 'payment-contacts' },
  },
  {
    name: 'Products',
    icon: 'products',
    to: { name: 'payment-products' },
  },
]);

function close(onlyOnMobile = false, callback?: () => void) {
  if (callback) callback();

  if (onlyOnMobile) {
    if (window.innerWidth >= 768) return;
  }

  isMinimised.value = true;
}
</script>

<template>
  <aside
    class="h-screen text-white transition-all duration-500 md:sticky"
    :class="
      isMinimised
        ? 'pointer-events-none overflow-hidden md:pointer-events-auto md:w-[86px]'
        : 'md:w-80'
    "
  >
    <div
      class="absolute left-0 top-0 h-full w-full bg-gray-600/50 backdrop-blur-md transition-opacity duration-[inherit] md:hidden"
      :class="isMinimised ? 'pointer-events-none opacity-0' : ''"
      @click="close()"
    ></div>
    <div
      class="relative h-full w-4/5 max-w-xs space-y-9 bg-d-payment-text py-6 px-4 duration-[inherit] md:w-full md:max-w-none"
      :class="isMinimised ? '-translate-x-full md:translate-x-0' : ''"
    >
      <header class="space-y-6 duration-[inherit]">
        <div class="flex items-center justify-between duration-[inherit]">
          <div
            class="group ml-auto translate-x-4 cursor-pointer rounded-l-xl bg-white/5 px-2 py-3 opacity-80 duration-[inherit] hover:opacity-100"
            @click="isMinimised = !isMinimised"
          >
            <AppIcon
              icon="caret"
              class="opacity-60 transition-[opacity,transform] duration-[inherit] group-hover:opacity-100"
              :class="isMinimised ? 'rotate-90' : '-rotate-90'"
            />
          </div>
        </div>

        <div
          class="flex items-center space-x-4 overflow-hidden rounded-xl bg-white/5 p-4 transition-all duration-[inherit]"
          :class="isMinimised ? 'md:p-0' : ''"
        >
          <div class="h-[54px] w-[54px] shrink-0 rounded-xl bg-white/20 p-1">
            <img
              :src="user.avatar"
              alt=""
              class="h-full w-full rounded-lg object-cover"
            />
          </div>
          <div class="flex flex-1 items-stretch justify-between gap-x-2">
            <div class="space-y-1">
              <p>{{ user.name }}</p>
              <p class="text-xs opacity-40">{{ user.dob }}</p>
            </div>
            <div class="ml-auto w-1 rounded-full bg-yellow-500"></div>
          </div>
        </div>
      </header>

      <main class="space-y-3 overflow-y-auto duration-[inherit]">
        <RouterLink
          v-for="link of links"
          :key="link.name"
          :to="link.to"
          v-slot="{ isActive, navigate }"
          custom
        >
          <div class="block duration-[inherit]">
            <Accordion
              v-if="link.sublinks?.length"
              v-model="link.open"
              :priority-open="isMinimised ? false : null"
              :summaryClass="
                isActive
                  ? 'py-3 px-4 duraton-200 rounded-xl hover:opacity-100 transition-opacity duration-[inherit] bg-d-payment opacity-100'
                  : 'py-3 px-4 duraton-200 rounded-xl hover:opacity-100 transition-opacity duration-[inherit] opacity-60'
              "
              @summary-click="close(true, navigate)"
            >
              <template #summary>
                <p class="flex items-center gap-x-7 overflow-hidden">
                  <AppIcon :icon="link.icon" />
                  <span>
                    {{ link.name }}
                  </span>
                </p>
              </template>

              <div
                v-for="(sublink, i) of link.sublinks"
                :key="sublink.name"
                class="group flex items-end pl-6"
                :class="{ 'mt-3': i === 0 }"
              >
                <RouterLink
                  v-slot="{ isActive, navigate }"
                  :to="sublink.to"
                  custom
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="shrink-0 opacity-50"
                    width="22.248"
                    height="44.531"
                    viewBox="0 0 22.248 44.531"
                    stroke-width="2"
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                  >
                    <g transform="translate(-7 -151)">
                      <path
                        d="M16,98v16c.091,5.444.678,15.948,13,16h7.248"
                        transform="translate(-8 54)"
                      />
                      <path
                        :class="{' invisible': i === link.sublinks!.length - 1}"
                        d="M8,170v24.685"
                        transform="translate(0 1.155)"
                      />
                    </g>
                  </svg>

                  <span
                    class="ml-4 inline-block flex-1 cursor-pointer opacity-50 transition-opacity duration-200 group-hover:opacity-80"
                    :class="{
                      'underline underline-offset-4 !opacity-100': isActive,
                    }"
                    @click="navigate"
                  >
                    {{ sublink.name }}
                  </span>
                </RouterLink>
              </div>
            </Accordion>
            <div
              v-else
              class="group flex h-14 cursor-pointer items-center justify-between space-x-3 overflow-hidden rounded-xl py-3 px-4 duration-200"
              :class="{ 'bg-d-payment': isActive }"
              @click="close(true, navigate)"
            >
              <p
                class="flex items-center gap-x-7 whitespace-nowrap transition-opacity duration-[inherit] group-hover:opacity-100"
                :class="isActive ? 'opacity-100' : 'opacity-60'"
              >
                <AppIcon :icon="link.icon" />
                <span>
                  {{ link.name }}
                </span>
              </p>
              <div
                v-if="link.badge"
                class="grid aspect-square h-6 w-6 place-items-center rounded-full bg-red-600 text-xs"
              >
                <span>{{ link.badge }}</span>
              </div>
            </div>
          </div>
        </RouterLink>
      </main>
    </div>
  </aside>
</template>
