<template>
  <nav class="sticky top-0 bg-white/90 backdrop-blur-xl">
    <div class="container mx-auto flex h-16 items-center justify-between">
      <div class="flex h-16 items-center">
        <CloseIcon
          v-if="showSearch"
          class="mr-3 md:hidden"
          @click="showSearch = false"
        />
        <MenuIcon v-else class="mr-3 md:hidden" @click="openSidenav" />
        <div class="hidden items-center gap-x-4 md:flex">
          <p :class="{ 'md:hidden lg:inline-block': !sidenavMinimised }">
            Welcome,
          </p>
          <div class="flex items-center gap-x-2">
            <img :src="user.avatar" class="object-fit h-8 w-8 rounded-lg" />
            <span class="font-bold">{{ user.name }}</span>
          </div>
        </div>
      </div>

      <NavSearch class="hidden md:flex" />
      <NavActions :hide-text="true" class="hidden md:flex" />

      <NavSearch v-if="showSearch" class="flex-1 md:hidden" />
      <div v-else class="flex items-center gap-x-4 md:hidden">
        <SearchIcon @click="showSearch = true" />

        <NavActions />
      </div>
    </div>
  </nav>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue';
import {
  MagnifyingGlassIcon as SearchIcon,
  Bars3Icon as MenuIcon,
  XMarkIcon as CloseIcon,
} from '@heroicons/vue/24/outline';

import NavSearch from '../NavSearch.vue';
import NavActions from '../NavActions.vue';

interface IProps {
  modelValue: boolean;
}

const props = defineProps<IProps>();

interface IEmits {
  (e: 'update:modelValue', state: boolean): void;
}
const emit = defineEmits<IEmits>();

const sidenavMinimised = computed<boolean>(() => props.modelValue);

const user = {
  avatar: 'https://picsum.photos/200',
  dob: '24.02.1996',
  name: 'Andy',
};

const showSearch = ref(false);

function openSidenav() {
  emit('update:modelValue', false);
}
</script>
