<template>
  <AppLayout>
    <main class="c-container mt-5">
      <h1 class="text-3xl">Designs</h1>
      <p>Below are the designs implemented in this site</p>

      <div
        class="mt-4 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 md:gap-4"
      >
				<DesignCard v-for="design of designs" :key="`design-${design.uid}`" :design="design" />
      </div>
    </main>
  </AppLayout>
</template>

<script setup lang="ts">
import { inject } from 'vue';

import type { TMeta } from '@/plugins/meta';
import AppLayout from '@/features/_common/AppLayout.vue';
import { DesignCard } from '@/features/_common/components';

import { useDesginsStore } from '@designs/store';

const meta = inject('meta') as TMeta;

meta({
  title: 'Desgins',
  description: 'Implementation of designs from various sources.',
});

const { designs } = useDesginsStore();
</script>
