<script setup lang="ts">
import { RouterView, RouterLink } from 'vue-router';
</script>

<template>
  <div
    class="bg-bra border border-gray-100 bg-slate-50 p-2 text-center text-xs dark:border-gray-800 dark:bg-slate-900"
  >
    <RouterLink
      :to="{ name: 'designs' }"
      class="text-brand underline underline-offset-2 dark:text-white"
    >
      View More Designs
    </RouterLink>
  </div>
  <RouterView />
</template>

<style scoped></style>
