<template>
  <div
    :class="
      twMerge(
        'w-full min-w-[240px] rounded-lg bg-white p-3 shadow-md dark:bg-container-dark',
        $attrs.class as string,
      )
    "
  >
    <slot name="header" v-bind="{ prevMonth, nextMonth, canGotoPrevMonth }">
      <div class="mb-2 flex items-center justify-between">
        <button
          class="btn-icon"
          @click.prevent="prevMonth"
          :disabled="!canGotoPrevMonth"
        >
          <ArrowLongLeftIcon class="!h-4 !w-4 stroke-[2px]" />
        </button>
        {{ format(currentDate, 'MMM yyyy') }}
        <button class="btn-icon" @click.prevent="nextMonth">
          <ArrowLongRightIcon class="!h-4 !w-4 stroke-[2px]" />
        </button>
      </div>
    </slot>
    <div class="grid grid-cols-7 text-center font-semibold">
      <p v-for="day of dayNames" class="p-2 uppercase text-xs">{{ day }}</p>
    </div>
    <div class="grid grid-cols-7 text-sm">
      <slot
        v-for="(day, i) of days"
        name="day"
        v-bind="{
          day,
					isToday: isToday(day),
          isSelectedDate: isSameDay(selectedDate, day),
          isSameMonth: isSameMonth(day, currentDate),
					selectDate: () => selectedDate = day,
        }"
      >
        <button
          :key="`day-${i}`"
          :class="[
            'm-auto aspect-square w-8 rounded-full',
            isSameDay(selectedDate, day)
              ? 'bg-primary !text-white'
              : 'hover:bg-slate-100',
            { 'text-primary-dark': isToday(day) },
            { [dayClasses[getDate(day)]]: i === 0 },
            {
              'pointer-events-none opacity-50': !canClick(day),
            },
            { 'opacity-50': !isSameMonth(day, currentDate) },
          ]"
          :disabled="!canClick(day)"
          @click.stop.prevent="selectedDate = day"
        >
          {{ day.getDate() }}
        </button>
      </slot>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';
import {
  addMonths,
  subMonths,
  eachDayOfInterval,
  endOfMonth,
  endOfWeek,
  format,
  getDate,
  isSameDay,
  isSameMonth,
  isToday,
  startOfDay,
  startOfMonth,
  startOfWeek,
} from 'date-fns';
import { twMerge } from 'tailwind-merge';
import {
  ArrowLongLeftIcon,
  ArrowLongRightIcon,
} from '@heroicons/vue/24/outline';

defineOptions({ inheritAttrs: false });
const props = withDefaults(
  defineProps<{
    modelValue?: Date | null;
    currentDate?: Date | null;
    weekStartsOn?: 0 | 1 | 2 | 3 | 4 | 5 | 6;

    min?: Date;
  }>(),
  { currentDate: new Date(), weekStartsOn: 0 },
);
const emit = defineEmits<{
  'update:modelValue': [date: Date];
  'update:currentDate': [date: Date];
}>();
const selectedDate = computed<Date>({
  get() {
    return props.modelValue ?? new Date();
  },
  set(value) {
    emit('update:modelValue', value);
  },
});

const dayNames = computed<string[]>(() => {
  const names = ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat'];
  return [
    ...names.slice(props.weekStartsOn),
    ...names.slice(0, props.weekStartsOn),
  ];
});
const currentDate = computed<Date>({
  get() {
    return props.currentDate;
  },
  set(date) {
    emit('update:currentDate', date);
  },
});
const canGotoPrevMonth = computed<boolean>(() => {
  const minDate = props.min;
  if (!minDate) return true;

  return (
    startOfWeek(startOfMonth(currentDate.value), {
      weekStartsOn: props.weekStartsOn,
    }) > startOfDay(minDate)
  );
});

const days = computed<Date[]>(() =>
  eachDayOfInterval({
    start: startOfWeek(startOfMonth(currentDate.value), {
      weekStartsOn: props.weekStartsOn,
    }),
    end: endOfWeek(endOfMonth(currentDate.value), {
      weekStartsOn: props.weekStartsOn,
    }),
  }),
);

function canClick(day: Date): boolean {
  if (!props.min) return true;

  return startOfDay(day) >= startOfDay(props.min);
}

function prevMonth(): void {
  const date = currentDate.value;

  if (props.min && date <= props.min) return;
  currentDate.value = subMonths(date, 1);
}

function nextMonth(): void {
  currentDate.value = addMonths(currentDate.value, 1);
}

const dayClasses = [
  '',
  'col-start-2',
  'col-start-3',
  'col-start-4',
  'col-start-5',
  'col-start-6',
  'col-start-7',
];
</script>
