<script setup lang="ts">
import { inject, ref } from 'vue';
import { RouterView } from 'vue-router';

import type { TMeta } from '@/plugins/meta';

import SideNav from './components/nav/SideNav.vue';
import TopNav from './components/nav/TopNav.vue';

import { useDesginsStore } from '@designs/store';

const isSidenavMinimised = ref(window.innerWidth < 768);

const meta = inject('meta') as TMeta;

const homeStore = useDesginsStore();
// eslint-disable-next-line @typescript-eslint/no-non-null-assertion
const design = homeStore.getDesign('payment-service')!;

const common = {
  title: design?.title,
  description: 'Desgin implementation for a ficticious payment service',
};
meta({
  title: common.title,
  description: common.description,
  og: {
    image: design.sourceImageUrl,
  },
});
</script>

<template>
  <div class="flex">
    <SideNav
      v-model="isSidenavMinimised"
      class="fixed left-0 top-0 z-[2] h-screen w-screen"
    />
    <main class="flex-1">
      <TopNav v-model="isSidenavMinimised" class="z-[1] mb-3" />
      <div class="pb-8">
        <RouterView class="container mx-auto" />
      </div>
    </main>
  </div>
</template>

<style>
.container {
  @apply max-w-5xl px-4;
}
</style>
