<template>
  <BackButton class="mb-3">
    <h1 class="text-2xl">Meeting Calendar</h1>
  </BackButton>

  <div class="root bg-blue-600 rounded-lg p-8 grid place-items-center">
    <div class="rounded-2xl p-2 bg-white dark:bg-slate-900 flex">
      <div
        class="rounded-l-lg w-[300px] px-3 py-4 bg-slate-100 dark:bg-slate-800"
      >
        <div class="-translate-y-10">
          <img
            :src="selectedMeeting.image"
            class="rounded-2xl bg-white shadow-lg w-1/2 aspect-[4/3]"
          />

          <h2 class="font-bold text-2xl mt-4">{{ selectedMeeting.title }}</h2>
          <p class="text-primary uppercase">WITH {{ selectedMeeting.by }}</p>
          <p class="mt-4">{{ selectedMeeting.description }}</p>
          <div class="rounded p-2 space-y-3 mt-8 border dark:border-slate-700">
            <div class="flex gap-x-3">
              <ClockIcon class="w-5 h-5 opacity-60 shrink-0" />
              <p>{{ selectedMeeting.duration }}</p>
            </div>
            <div class="flex gap-x-3">
              <VideoCameraIcon class="w-5 h-5 opacity-60 shrink-0" />
              <a v-if="selectedMeeting.isConfirmed" href="#">
                {{ selectedMeeting.videoLink }}
              </a>
              <p v-else>
                Link to video conference will be provided upon confirmation
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="px-3 py-4 flex-1">
        <p class="font-bold text-xl">Select a Date & Time</p>
        <div class="mt-1 flex items-stretch gap-x-6">
          <div class="flex-1">
            <Calendar
              v-model="selectedDate"
              v-model:current-date="currentDate"
              class="p-0 shadow-none bg-transparent"
              :week-starts-on="1"
            >
              <template #header="{ canGotoPrevMonth, prevMonth, nextMonth }">
                <div class="flex mb-2 justify-between items-center">
                  <p>{{ format(currentDate, 'MMM yyyy') }}</p>
                  <div class="flex gap-x-1">
                    <Button
                      variant="icon"
                      class="p-2 bg-transparent rounded-full border dark:border-slate-700"
                      :disabled="!canGotoPrevMonth"
                      @click="prevMonth"
                    >
                      <ChevronLeftIcon class="w-5 h-5" />
                    </Button>
                    <Button
                      variant="icon"
                      class="p-2 bg-transparent rounded-full border dark:border-slate-700"
                      @click="nextMonth"
                    >
                      <ChevronRightIcon class="w-5 h-5" />
                    </Button>
                  </div>
                </div>
              </template>
              <template
                #day="{ day, isToday, isSelectedDate, isSameMonth, selectDate }"
              >
                <div class="p-1">
                  <Button
                    variant="base"
                    :class="
                      twMerge(
                        'bg-transparent dark:hover:bg-slate-800 dark:text-dark font-semibold p-2 h-full aspect-square rounded-full text-light',
                        !isSameMonth && 'opacity-50 font-normal',
                        isToday && 'text-primary',
                        hasMeetingInDate(day) &&
                          'bg-primary/20 border-primary border hover:bg-primary/30',
                        isSelectedDate &&
                          'text-on-primary font-normal pointer-events-none bg-primary hover:bg-primary',
                      )
                    "
                    :disabled="!isSameMonth"
                    @click="selectDate"
                  >
                    {{ day.getDate() }}
                  </Button>
                </div>
              </template>
            </Calendar>
            <div class="flex gap-x-1 mt-8 items-center">
              <WorldIcon class="w-4 h-4" />
              <p>{{ timezone }} ({{ format(new Date(), 'HH:mm') }})</p>
            </div>
          </div>
          <div class="bg-slate-100 w-[1px] dark:bg-slate-800" />
          <div class="w-48">
            <p class="mb-2">{{ format(selectedDate, 'cccc, MMM d') }}</p>
            <p
              v-if="selectedDateMeetings.length === 0"
              class="italic opacity-60"
            >
              No meetings today
            </p>
            <div class="w-full space-y-2">
              <Button
                v-for="(meeting, i) in selectedDateMeetings"
                :key="`meeting-${i}`"
                :variant="
                  meeting.id === selectedMeeting.id ? 'elevated' : 'text'
                "
                :class="
                  twMerge(
                    'flex py-2.5 gap-x-1 items-center w-full text-xs',
                    selectedMeeting.id === meeting.id
                      ? 'hover:bg-primary p-1 justify-between'
                      : 'justify-center',
                    selectedMeeting.id === meeting.id &&
                      meeting.isConfirmed &&
                      'pointer-events-none',
                  )
                "
                @click="selectedMeeting = meeting"
              >
                <p class="px-4">
                  {{ format(meeting.from, 'hh:mm a') }}
                </p>
                <Button
                  v-if="selectedMeeting.id === meeting.id"
                  variant="text"
                  :class="
                    twMerge(
                      'bg-white py-1.5 hover:bg-white text:text-primary',
                      meeting.isConfirmed && 'text-green-900 bg-green-200',
                    )
                  "
                  @click="meeting.isConfirmed = true"
                >
                  {{ meeting.isConfirmed ? 'Confirmed' : 'Confirm' }}
                </Button>
              </Button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { Ref, computed, ref } from 'vue';
import { twMerge } from 'tailwind-merge';
import { format, isSameDay } from 'date-fns';
import { ClockIcon, VideoCameraIcon } from '@heroicons/vue/24/outline';
import {
  ChevronLeftIcon,
  ChevronRightIcon,
  GlobeAsiaAustraliaIcon as WorldIcon,
} from '@heroicons/vue/20/solid';

import { BackButton, Button } from '@/features/_common/components';
import Calendar from '../components/Calendar.vue';

import MeetingModel from '../models/meeting.model';

// const currentDate = ref(new Date());
const currentDate = ref(new Date('2022-05-06'));
const selectedDate = ref(new Date('2022-05-06'));
const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;

const meetings: Ref<MeetingModel[]> = ref([
  new MeetingModel({
    id: 1,
    title: 'Another One',
    description: 'This is super long meeting wadau',
    by: 'Simon Vrachliotis',
    from: new Date('2022-05-06T07:00:00Z'),
    to: new Date('2022-05-06T10:00:00Z'),
    image: 'https://picsum.photos/200/101',
    videoLink: 'https://non.working/url',
  }),
  new MeetingModel({
    id: 2,
    title: 'Online Workshop',
    description: 'Tailwind CSS for production-grade web applications.',
    by: 'Simon Vrachliotis',
    from: new Date('2022-05-06T10:00:00Z'),
    to: new Date('2022-05-06T11:00:00Z'),
    image: 'https://picsum.photos/200/102',
    videoLink: 'https://non.working/url',
  }),
  new MeetingModel({
    id: 3,
    title: 'Online Workshop',
    description: 'Tailwind CSS for production-grade web applications.',
    by: 'Simon Vrachliotis',
    from: new Date('2022-05-03T10:00:00Z'),
    to: new Date('2022-05-03T11:00:00Z'),
    image: 'https://picsum.photos/200/102',
    videoLink: 'https://non.working/url',
  }),
  new MeetingModel({
    id: 4,
    title: 'Online Workshop',
    description: 'Tailwind CSS for production-grade web applications.',
    by: 'Simon Vrachliotis',
    from: new Date('2022-05-10:00:00Z'),
    to: new Date('2022-05-10:00:00Z'),
    image: 'https://picsum.photos/200/102',
    videoLink: 'https://non.working/url',
  }),
]);

const selectedDateMeetings = computed<MeetingModel[]>(() => {
  const date = selectedDate.value;
  return meetings.value.filter((m) => isSameDay(m.from, date));
});
const daysWithMeetings = computed<Date[]>(() => {
  const days: Date[] = [];
  for (const { from } of meetings.value) {
    if (days.find((d) => isSameDay(d, from))) continue;
    days.push(from);
  }

  return days;
});

function hasMeetingInDate(date: Date): boolean {
  const days = daysWithMeetings.value;
  return !!days.find((d) => isSameDay(d, date));
}

const selectedMeeting = ref(meetings.value[1]);
</script>

<style lang="scss" scoped>
.root {
  --color-primary: 239 84% 67%;
  --color-primary-dark: 239 84% 47%;
}
</style>
