<template>
  <main class="c-container">
    <h1 class="text-3xl">Components</h1>
    <p>Below are the components implemented in this site</p>

    <div
      class="mt-4 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 md:gap-4"
    >
      <WidgetCard
        v-for="widget of widgets"
        :key="`widget-${widget.uid}`"
        :widget="widget"
      />
    </div>
  </main>
</template>

<script setup lang="ts">
import { inject } from 'vue';

import type { TMeta } from '@/plugins/meta';
import { WidgetCard } from '@/features/_common/components';

import { useWidgetsStore } from '@widgets/store';

const meta = inject('meta') as TMeta;

meta({
  title: 'Widgets',
  description: 'Implementation of components from various sources.',
});

const { widgets } = useWidgetsStore();
</script>
