@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary: 25 95% 53%;
		--color-primary-dark: 25 95% 43%;
	}
}

@layer components {
  a:not(.default) {
    @apply text-primary;
  }

  .c-container {
    @apply px-3 max-w-5xl mx-auto;
  }
}
