<template>
  <div class="text-center">
    <RouterLink v-slot="{ navigate }" :to="widget.path" custom>
      <div
        class="relative default block cursor-pointer group h-60 w-full overflow-hidden rounded-xl md:h-52"
        @click="navigate"
      >
        <img
          :src="widget.sourceImageUrl"
          :alt="widget.title"
          class="h-full w-full object-cover group-hover:scale-105 transition-transform duration-300"
        />

        <HeroModal v-if="widget.sourceVideoUrl" class="p-0 bg-transparent">
          <template #trigger="{ openModal }">
            <Button
              variant="icon"
              class="absolute p-0 group/btn left-1/2 top-1/2 overflow-hidden -translate-x-1/2 -translate-y-1/2 w-12 h-12 cursor-pointer rounded-full border border-white/80 backdrop-blur"
              @click.stop="openModal"
            >
              <div class="absolute inset-0 translate-x-[2px]">
                <PlayIconOutline
                  class="group-hover/hover:opacity-0 opacity-100 transition-opacity absolute left-1/2 -translate-x-1/2 -translate-y-1/2 top-1/2"
                />
                <PlayIconSolid
                  class="group-hover/btn:opacity-100 opacity-0 left-1/2 transition-opacity -translate-x-1/2 -translate-y-1/2 top-1/2"
                />
              </div>
            </Button>
          </template>
          <template #default="{ closeModal }">
            <video :src="widget.sourceVideoUrl" controls />
            <Button
              variant="icon"
              class="absolute right-2 top-2 opacity-80 hover:opacity-100"
              @click="closeModal"
            >
              <XMarkIcon />
            </Button>
          </template>
        </HeroModal>
      </div>
    </RouterLink>

    <h2 class="text-semibold mt-2 mb-1">{{ widget.title }}</h2>
    <a v-if="widget.sourceUrl" :href="widget.sourceUrl" target="_blank">
      View Original Design
    </a>
  </div>
</template>

<script setup lang="ts">
import { RouterLink } from 'vue-router';
import { PlayIcon as PlayIconOutline } from '@heroicons/vue/24/outline';
import { PlayIcon as PlayIconSolid } from '@heroicons/vue/24/solid';
import { XMarkIcon } from '@heroicons/vue/20/solid';

import type { IWidget } from '@/features/_common/interface';
import { HeroModal } from '@/features/_common/components';
import { Button } from '@/features/home/components';

defineProps<{ widget: IWidget }>();
</script>
