<script setup lang="ts">
import { PaperAirplaneIcon } from '@heroicons/vue/24/outline';

interface IProps {
  hideText?: boolean;
}
withDefaults(defineProps<IProps>(), {
  hideText: false,
});
</script>

<template>
  <button
    class="flex items-center gap-x-3 rounded-lg bg-d-payment-text px-4 py-3 text-white"
  >
    <span
      class="hidden md:inline"
      :class="{ 'md:hidden lg:inline-block': hideText }"
    >
      Send Invoice
    </span>
    <PaperAirplaneIcon class="h-6 w-6 -rotate-45" />
  </button>
</template>
