<script setup lang="ts">
import { MagnifyingGlassIcon } from '@heroicons/vue/24/outline';
</script>

<template>
  <div class="flex items-center gap-x-2">
    <div
      class="flex w-full items-center gap-x-2 rounded-xl bg-gray-100 py-3 px-4"
    >
      <input
        type="search"
        placeholder="Keywords"
        name="search"
        id="search"
        class="w-full border-none bg-transparent p-0 outline-none ring-0 focus:ring-0"
      />
      <MagnifyingGlassIcon class="h-6 w-6 text-gray-400" />
    </div>
  </div>
</template>
